name: CI Pipeline

on:
  push:
    branches:
      - main
      - master

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print message
        run: echo "CI pipeline is running"
