name: CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show current directory
        run: pwd

      - name: List project files
        run: ls

      - name: Check Python version
        run: python3 --version
